<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @task.notes %>
</p>

<p>
  <b>Completed:</b>
  <%=h @task.completed %>
</p>

<p>
  <b>Billed percentage:</b>
  <%=h @task.billed_percentage %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
