<h1>New sprint</h1>

<% form_for(@sprint) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :due_by %><br />
    <%= f.datetime_select :due_by %>
  </p>
  <p>
    <%= f.label :billed_hourly_rate %><br />
    <%= f.text_field :billed_hourly_rate %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sprints_path %>
